# 游늵 An치lisis de Ofertas Laborales en Ecuador
Este notebook carga, limpia y analiza un dataset de ofertas de trabajo en Ecuador.
Incluye tablas, gr치ficos.

## 1. Cargar librer칤as y leer el dataset

In [ ]:
#Importar librer칤as necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Configurar visualizaci칩n
pd.set_option('display.max_columns', None)
sns.set(style="whitegrid")

# Cargar el dataset
ruta = "../Datos/oferta_laboral_ecuador.csv"  # Ajustado a tu estructura
df = pd.read_csv(ruta)

# Vista previa de los datos
df.head()

,cargo,modo,fechaPublicado,fechaFin,plazas,experiencia,capacitacion,jornadas,remuneracion,nivelInstruccion,areaEstudios,ciudad,parroquia,sector
0,desarrollador java jee,tiempo completo,2013-02-22,2013-03-24,1,sin experiencia,0-50 horas,jornada ordinaria (8 horas),$501-$750,tercer nivel,inform치tica software,quito,indistinto,norte
1,guardias de seguridad con experiencia 1 a침o,tiempo completo,2013-02-23,2013-02-28,20,7-12 meses,0-50 horas,jornada ordinaria (8 horas),$400-$500,bachiller,recursos humanos/personal,ibarra,indistinto,centro
2,vendedor,tiempo completo,2013-02-23,2013-02-26,2,1-3 a침os,0-50 horas,jornada ordinaria (8 horas),$400-$500,bachiller,ventas al consumidor,guayaquil,indistinto,centro
3,topografo,por obra,2013-02-23,2013-02-28,1,1-3 a침os,0-50 horas,jornada ordinaria (8 horas),$501-$750,tecnol칩gico superior,ingenier칤a/t칠cnico,pedro vicente maldonado,indistinto,suroeste
4,asistente contable,tiempo completo,2013-02-25,2013-03-27,1,1-3 a침os,0-50 horas,jornada ordinaria (8 horas),$400-$500,tercer nivel,econom칤a/contabilidad,guayaquil,indistinto,sur

## 2. Exploraci칩n inicial y limpieza b치sica

In [41]:
df.shape
# Dimensiones del DataFrame
print(f"Filas: {df.shape[0]}, Columnas: {df.shape[1]}")

# Informaci칩n general
df.info()

Filas: 210812, Columnas: 14
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210812 entries, 0 to 210811
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   cargo             210812 non-null  object
 1   modo              210812 non-null  object
 2   fechaPublicado    210812 non-null  object
 3   fechaFin          210812 non-null  object
 4   plazas            210812 non-null  int64
 5   experiencia       210812 non-null  object
 6   capacitacion      210812 non-null  object
 7   jornadas          210812 non-null  object
 8   remuneracion      210812 non-null  object
 9   nivelInstruccion  210812 non-null  object
 10  areaEstudios      210812 non-null  object
 11  ciudad            210812 non-null  object
 12  parroquia         210812 non-null  object
 13  sector            210812 non-null  object
dtypes: int64(1), object(13)
memory usage: 22.5+ MB

Verificar valores nulos

In [42]:
# Conteo de valores nulos por columna
df.isnull().sum()

cargo               0
modo                0
fechaPublicado      0
fechaFin            0
plazas              0
experiencia         0
capacitacion        0
jornadas            0
remuneracion        0
nivelInstruccion    0
areaEstudios        0
ciudad              0
parroquia           0
sector              0
dtype: int64

Eliminar columnas con m치s del 50% de valores nulos (si aplica)

In [43]:
# Umbral del 50%
umbral = len(df) * 0.5
df = df.dropna(axis=1, thresh=umbral)

# Confirmamos nueva forma
print(f"DataFrame despu칠s de eliminar columnas con muchos nulos: {df.shape}")

DataFrame despu칠s de eliminar columnas con muchos nulos: (210812, 14)